In [19]:
import pandas as pd
from dateutil import parser

In [20]:
# import datasets
raw_data = pd.read_csv("raw_dataset.csv", parse_dates=["date"])
weather_data = pd.read_csv("weather_1995_2018.csv")

In [21]:
# add sum column
raw_data["sum"] = raw_data.apply(lambda row: sum([row["hour_{}".format(x)] for x in range(1,25)]), axis=1)

In [22]:
# merge raw_data with weather data
weather_data["date"] = weather_data.apply(lambda row: "{:04}/{:02}/{:02}".format(row["Vuosi"], row["Kk"], row["Pv"]), axis=1).apply(pd.to_datetime)
weather_data = weather_data[["date", "Sademäärä (mm)", "Ilman lämpötila (degC)"]]
weather_data.columns = ["date", "rain", "temperature"]
merged_data = raw_data.merge(weather_data, on="date", how="left")
data = merged_data

In [23]:
# add date associated fields
data["year"] = data.date.apply(lambda date: date.year)
data["weekday"] = data.date.apply(lambda date: date.weekday())
data["week"] = data.date.apply(lambda date: date.isocalendar()[1])
data["midsummer_week"] = data.week.apply(lambda week: week==25)

In [24]:
# save the refined table as csv
data.to_csv("refined_dataset.csv", index=False)

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111151 entries, 0 to 111150
Data columns (total 36 columns):
location_id       111151 non-null int64
location_name     111151 non-null object
date              111151 non-null datetime64[ns]
direction         111151 non-null int64
vehicle_type      111151 non-null object
hour_1            111151 non-null float64
hour_2            111151 non-null float64
hour_3            111151 non-null float64
hour_4            111151 non-null float64
hour_5            111151 non-null float64
hour_6            111151 non-null float64
hour_7            111151 non-null float64
hour_8            111151 non-null float64
hour_9            111151 non-null float64
hour_10           111151 non-null float64
hour_11           111151 non-null float64
hour_12           111151 non-null float64
hour_13           111151 non-null float64
hour_14           111151 non-null float64
hour_15           111151 non-null float64
hour_16           111151 non-null float64
hour_17           111151 non-null float64
hour_18           111151 non-null float64
hour_19           111151 non-null float64
hour_20           111151 non-null float64
hour_21           111151 non-null float64
hour_22           111151 non-null float64
hour_23           111151 non-null float64
hour_24           111151 non-null float64
sum               111151 non-null float64
rain              111151 non-null float64
temperature       111151 non-null float64
year              111151 non-null int64
weekday           111151 non-null int64
week              111151 non-null int64
midsummer_week    111151 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(27), int64(5), object(2)
memory usage: 30.6+ MB

In [26]:
data.head()

,location_id,location_name,date,direction,vehicle_type,hour_1,hour_2,hour_3,hour_4,hour_5,...,hour_22,hour_23,hour_24,sum,rain,temperature,year,weekday,week,midsummer_week
0,168,Askisto,2013-12-01,1,11 HA-PA,123.0,124.0,80.0,71.0,123.0,...,292.0,222.0,94.0,12588.0,0.9,2.0,2013,6,48,False
1,168,Askisto,2013-12-01,1,12 KAIP,2.0,1.0,1.0,1.0,0.0,...,5.0,1.0,8.0,133.0,0.9,2.0,2013,6,48,False
2,168,Askisto,2013-12-01,1,13 Linja-autot,1.0,2.0,1.0,1.0,0.0,...,3.0,2.0,1.0,48.0,0.9,2.0,2013,6,48,False
3,168,Askisto,2013-12-01,1,14 KAPP,0.0,0.0,0.0,0.0,1.0,...,12.0,19.0,6.0,121.0,0.9,2.0,2013,6,48,False
4,168,Askisto,2013-12-01,1,15 KATP,0.0,0.0,0.0,0.0,1.0,...,9.0,12.0,7.0,103.0,0.9,2.0,2013,6,48,False