In [5]:
import pandas as pd
from dateutil import parser

In [9]:
def add_daily_sum(data):
    data["sum"] = data.apply(lambda row: sum([row["hour_{}".format(x)] for x in range(1,25)]), axis=1)

def add_date_features(data):
    data["year"] = data.date.apply(lambda date: date.year)
    data["weekday"] = data.date.apply(lambda date: date.weekday())
    data["week"] = data.date.apply(lambda date: date.isocalendar()[1])
    
def add_weather_data(data, weather_data):
    weather_data["date"] = weather_data.apply(lambda row: "{:04}/{:02}/{:02}".format(row["Vuosi"], row["Kk"], row["Pv"]), axis=1).apply(pd.to_datetime)
    weather_data = weather_data[["date", "Sademäärä (mm)", "Ilman lämpötila (degC)"]]
    weather_data.columns = ["date", "rain", "temperature"]
    merged_data = raw_data.merge(weather_data, on="date", how="left")
    data = merged_data

In [10]:
# import datasets
data = pd.read_csv("raw_dataset.csv", parse_dates=["date"])
#weather_data = pd.read_csv("weather_1995_2018.csv")

In [11]:
# add calculated features
add_date_features(data)
add_daily_sum(data)

In [12]:
# ensure the DataFrame looks good
print(data.info())

data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107420 entries, 0 to 107419
Data columns (total 33 columns):
location_id      107420 non-null int64
location_name    107420 non-null object
date             107420 non-null datetime64[ns]
direction        107420 non-null int64
vehicle_type     107420 non-null object
hour_1           107420 non-null float64
hour_2           107420 non-null float64
hour_3           107420 non-null float64
hour_4           107420 non-null float64
hour_5           107420 non-null float64
hour_6           107420 non-null float64
hour_7           107420 non-null float64
hour_8           107420 non-null float64
hour_9           107420 non-null float64
hour_10          107420 non-null float64
hour_11          107420 non-null float64
hour_12          107420 non-null float64
hour_13          107420 non-null float64
hour_14          107420 non-null float64
hour_15          107420 non-null float64
hour_16          107420 non-null float64
hour_17          107420 non-null float64
hour_18          107420 non-null float64
hour_19          107420 non-null float64
hour_20          107420 non-null float64
hour_21          107420 non-null float64
hour_22          107420 non-null float64
hour_23          107420 non-null float64
hour_24          107420 non-null float64
year             107420 non-null int64
weekday          107420 non-null int64
week             107420 non-null int64
sum              107420 non-null float64
dtypes: datetime64[ns](1), float64(25), int64(5), object(2)
memory usage: 27.0+ MB
None

,location_id,location_name,date,direction,vehicle_type,hour_1,hour_2,hour_3,hour_4,hour_5,...,hour_19,hour_20,hour_21,hour_22,hour_23,hour_24,year,weekday,week,sum
0,168,Askisto,2016-01-01,1,11 HA-PA,183.0,211.0,146.0,121.0,108.0,...,502.0,399.0,305.0,240.0,178.0,93.0,2016,4,53,7617.0
1,168,Askisto,2016-01-01,1,12 KAIP,1.0,2.0,0.0,1.0,1.0,...,3.0,0.0,3.0,3.0,2.0,0.0,2016,4,53,44.0
2,168,Askisto,2016-01-01,1,13 Linja-autot,4.0,4.0,5.0,2.0,4.0,...,1.0,3.0,2.0,1.0,7.0,2.0,2016,4,53,61.0
3,168,Askisto,2016-01-01,1,14 KAPP,2.0,0.0,0.0,1.0,2.0,...,2.0,2.0,1.0,2.0,1.0,0.0,2016,4,53,27.0
4,168,Askisto,2016-01-01,1,15 KATP,0.0,4.0,4.0,1.0,1.0,...,3.0,1.0,3.0,3.0,5.0,1.0,2016,4,53,59.0

In [13]:
# save the refined table as csv
data.to_csv("refined_dataset.csv", index=False)