### Prepare Data
- convert categorical fields to dummies
- normalize data
- test/train/validation set split
    - use the last 3-4 years for testing and validation

### Train and Evaluate
- Train the model using 1) RandomForest and 2) XGBoost
- Evaluate the predictions agains the test set

### Prediction API
- Implement a function that takes raw data as input and produces the hourly predictions
    - implement a function that converts the dummies back to categorical
    - denormalize the data back to the original scale

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection, preprocessing, ensemble
%matplotlib inline

In [37]:
# data parameters
categorical_columns = ["vehicle_type", "location_id", "direction", "weekday", "week"]
dependent_columns = ["hour_{}".format(n) for n in range(1,25)]

# functions
def to_train_format(raw_data):
    """
    Converts categorical fields to dummies (and normalizes the values).
    Returns a DataFrame.
    """
    data = raw_data
    for col in categorical_columns:
        dummies = pd.get_dummies(data[col], prefix=col)
        data = pd.concat([data, dummies], axis=1)
        data = data.drop([col], axis=1)
    return data

def train_test_split(data, test_size=0.20):
    """
    Splits the formatted data into train and test sets.
    Returns X and Y + associated test sets as DataFrames.
    """
    X = data.drop(dependent_columns, axis=1)
    Y = data[dependent_columns]
    X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y, test_size=test_size)
    return X_train, X_test, Y_train, Y_test

def train(X_train, Y_train, model):
    model.fit(X_train, Y_train)
    model.features = X_train.columns
    model.targets = Y_train.columns

def evaluate(X_test, Y_test, model):
    score = model.score(X_test, Y_test)
    return score

def to_train_format_row(row, model):
    row_f = to_train_format(row)
    row_formatted = pd.DataFrame()
    for col in model.features:
        if col in row_f.columns:
            row_formatted[col] = row_f[col]
        else:
            row_formatted[col] = 0
    return row_formatted

def predict(row, model):
    """
    Uses the trained model to predict with the given DataFrame.
    Returns a DataFrame including the predictions.
    """
    row_formatted = to_train_format_row(row, model)
    pred = pd.DataFrame(model.predict(row_formatted))
    pred.columns = model.targets
    return pred

In [49]:
# split the raw data to train and test sets
raw_data = pd.read_csv("refined_dataset.csv").sort_values(by="date")
raw_data = raw_data.drop(["sum", "location_name", "midsummer_week", "date"], axis=1)
train_formatted_data = to_train_format(raw_data)
X_train, X_test, Y_train, Y_test = train_test_split(train_formatted_data)

# random forest regression model
model = ensemble.RandomForestRegressor()

# train the model
train(X_train, Y_train, model)

# evaluate the model
evaluate(X_test, Y_test, model)

0.97503961616992119

In [51]:
# predict a sample
row = raw_data.sample(1)
pd.concat([row, predict(row, model)]).fillna("").transpose()

                53686 0
direction           2
hour_1             19    12
hour_10            20  24.7
hour_11            21  22.1
hour_12            16    22
hour_13            26  25.3
hour_14            25  26.3
hour_15            35  26.9
hour_16            23  24.8
hour_17            23    18
hour_18            19  18.1
hour_19            17  17.3
hour_2             17  11.9
hour_20            17  21.1
hour_21            20  18.9
hour_22            19  20.1
hour_23            20  19.8
hour_24             9  14.8
hour_3             15  17.5
hour_4             21  18.6
hour_5             19  21.5
hour_6             28  33.7
hour_7             40  36.7
hour_8             28  26.8
hour_9             26  26.4
location_id       110
rain               -1
temperature       4.5
vehicle_type  15 KATP
week               16
weekday             1
year             2010